# 0. Import our libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Collecting data
- What subject is your data about? What is the source of your data?  
- Do authors of this data allow you to use like this? You can check the data license  
- How did authors collect data?

## About dataset
### Subject: Commercial flight operations in the United States (2024)

Although air travel is essential for bringing people and economies together, passenger flights are frequently disrupted by delays and cancellations. With over 1 million flights nationwide, this dataset offers a thorough understanding of US airline performance in 2024.

The dataset, which includes comprehensive statistics on departure times, cancellations, flight distances, weather delays, and late aircraft delays, presents a special chance to investigate

### Sources
Kaggle link: [Flight Delay & Cancellation Data (1 Million+ 2024)](https://www.kaggle.com/datasets/nalisha/flight-delay-and-cancellation-data-1-million-2024) \
The On-Time Performance Data (2024) from the US Bureau of Transportation Statistics (BTS) is the source of this dataset. The source offers comprehensive details on airline on-time performance, including departure times, weather-related disruptions, delays, and cancellations.

## Data Lisence

**No Copyright** 

The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law. 

You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. See Other Information via the link below. 

[CC0: Public Domain](https://creativecommons.org/publicdomain/zero/1.0/)

## Collection Methodology

The information was gathered from the 2024 On-Time Performance reports published by the US Bureau of Transportation Statistics (BTS). A single CSV file containing important features, such as delays, cancellations, distances, and weather impacts, was created by merging, cleaning, and curating monthly reports.

## Why did we choose this dataset?
- What interests your group about this topic?
- What potential questions or insights could this data provide?

#TODO

# 2. Exploring data 
- How many rows and how many columns?  
- What is the meaning of each row?  
- Are there **<span style="color:red">duplicated rows</span>**?  
- What is the meaning of each column?  
- What is the current data type of each column? Are there columns having **<span style="color:red">inappropriate data types</span>**?  
- With each numerical column, how are values distributed?  
  - What is the percentage of **<span style="color:red">missing values</span>**?  
  - Min? max? Are they **<span style="color:red">abnormal</span>**?  
- With each categorical column, how are values distributed?  
  - What is the percentage of **<span style="color:red">missing values</span>**?  
  - How many different values? Show a few  
  - Are they **<span style="color:red">abnormal</span>**?

## Basic Information
- How many rows does your dataset have?
- How many columns does your dataset have?
- What does each row represent? (e.g., one customer, one transaction, one day)
- What is the overall size of the dataset?

#Todo

Get to know our dataframe first!!

In [2]:
df = pd.read_csv("data/flight_data_2024.csv")
df.head(10)

,year,month,day_of_month,day_of_week,fl_date,origin,origin_city_name,origin_state_nm,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,cancelled,air_time,distance,weather_delay,late_aircraft_delay
0,2024,1,1,1,1/1/2024,JFK,"New York, NY",New York,1247.0,31.0,1318.0,1442.0,7.0,0,84.0,509,0,0
1,2024,1,1,1,1/1/2024,MSP,"Minneapolis, MN",Minnesota,1001.0,20.0,1021.0,1249.0,6.0,0,88.0,622,0,0
2,2024,1,1,1,1/1/2024,JFK,"New York, NY",New York,1411.0,21.0,1432.0,1533.0,8.0,0,61.0,288,0,0
3,2024,1,1,1,1/1/2024,RIC,"Richmond, VA",Virginia,1643.0,13.0,1656.0,1747.0,12.0,0,51.0,288,0,0
4,2024,1,1,1,1/1/2024,DTW,"Detroit, MI",Michigan,1010.0,21.0,1031.0,1016.0,4.0,0,45.0,237,0,0
5,2024,1,1,1,1/1/2024,JAX,"Jacksonville, FL",Florida,1403.0,14.0,1417.0,1559.0,4.0,0,102.0,833,0,0
6,2024,1,1,1,1/1/2024,LGA,"New York, NY",New York,947.0,26.0,1013.0,1218.0,13.0,0,125.0,833,0,0
7,2024,1,1,1,1/1/2024,CHS,"Charleston, SC",South Carolina,1135.0,8.0,1143.0,1309.0,5.0,0,86.0,641,0,0
8,2024,1,1,1,1/1/2024,LGA,"New York, NY",New York,810.0,14.0,824.0,1005.0,8.0,0,101.0,641,0,0
9,2024,1,1,1,1/1/2024,ITH,"Ithaca/Cortland, NY",New York,1248.0,12.0,1300.0,1343.0,12.0,0,43.0,189,0,0

In [3]:
df.tail()

,year,month,day_of_month,day_of_week,fl_date,origin,origin_city_name,origin_state_nm,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,cancelled,air_time,distance,weather_delay,late_aircraft_delay
1048570,2024,2,29,4,2/29/2024,SJU,"San Juan, PR",Puerto Rico,1447.0,24.0,1511.0,1640.0,7.0,0,149.0,1045,0,0
1048571,2024,2,29,4,2/29/2024,PHX,"Phoenix, AZ",Arizona,59.0,12.0,111.0,647.0,3.0,0,216.0,1972,0,105
1048572,2024,2,29,4,2/29/2024,JAX,"Jacksonville, FL",Florida,2014.0,20.0,2034.0,2128.0,10.0,0,54.0,328,0,0
1048573,2024,2,29,4,2/29/2024,CLT,"Charlotte, NC",North Carolina,1104.0,12.0,1116.0,1210.0,7.0,0,114.0,808,0,70
1048574,2024,2,29,4,2/29/2024,MCI,"Kansas City, MO",Missouri,1307.0,13.0,1320.0,1559.0,22.0,0,99.0,808,0,104

## Data Types
- What is the current data type of each column?
- Are there columns with inappropriate data types?
- Which columns need type conversion?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   year                 1048575 non-null  int64
 1   month                1048575 non-null  int64
 2   day_of_month         1048575 non-null  int64
 3   day_of_week          1048575 non-null  int64
 4   fl_date              1048575 non-null  object
 5   origin               1048575 non-null  object
 6   origin_city_name     1048575 non-null  object
 7   origin_state_nm      1048575 non-null  object
 8   dep_time             1026022 non-null  float64
 9   taxi_out             1025450 non-null  float64
 10  wheels_off           1025450 non-null  float64
 11  wheels_on            1024898 non-null  float64
 12  taxi_in              1024898 non-null  float64
 13  cancelled            1048575 non-null  int64
 14  air_time             1022824 non-null  float64
 15  distance             1048575 non-null  int64
 16  weather_delay        1048575 non-null  int64
 17  late_aircraft_delay  1048575 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 144.0+ MB

We can easily see that:
- Number of rows: 1,048,575
- Number of columns: 18

## Data Integrity
- Are there any duplicated rows? If yes, how many?
- Should duplicates be kept or removed? (Justify your decision)
- Are all rows complete, or are some entirely empty?

## Column Inventory
- What is the meaning/definition of each column?
- Which columns are relevant to potential analysis?
- Are there any columns that should be dropped? Why?

### The meaning of each row and column?
#### The meaning of each row
- Each row corresponds to a single flight (one origin to one destination) in the time‐span covered by the dataset.
#### The meaning of each column
| **Column name**         | **Meaning**                                                                                                           |
| ----------------------- | --------------------------------------------------------------------------------------------------------------------- |
| **year**                | The year when the flight occurred (e.g., 2024).                                                                       |
| **month**               | The month number (1 = January, 12 = December).                                                                        |
| **day_of_month**        | The day of the month (1–31).                                                                                          |
| **day_of_week**         | The weekday number (1 = Monday, 7 = Sunday).                                                                          |
| **fl_date**             | The full flight date (month/day/year).                                                                                |
| **origin**              | The **IATA code** of the origin airport (e.g., JFK = John F. Kennedy International Airport).                          |
| **origin_city_name**    | The full city and state of the origin airport (e.g., “New York, NY”).                                                 |
| **origin_state_nm**     | The full name of the U.S. state where the origin airport is located (e.g., “New York”).                               |
| **dep_time**            | The **actual departure time** in local time, usually given in HHMM format (e.g., 1247 → 12:47 PM).                    |
| **taxi_out**            | The number of minutes the aircraft spent **taxiing on the ground before takeoff** (from gate pushback to wheels-off). |
| **wheels_off**          | The actual **time when the aircraft lifted off the runway**, in HHMM local time.                                      |
| **wheels_on**           | The actual **time when the aircraft touched down at the destination**, in HHMM local time.                            |
| **taxi_in**             | The number of minutes spent **taxiing after landing** (from touchdown to gate arrival).                               |
| **cancelled**           | A binary indicator: **0 = not cancelled**, **1 = cancelled**.                                                         |
| **air_time**            | The **total time in the air** (in minutes), equal to `wheels_on - wheels_off` (converted).                            |
| **distance**            | The great-circle **distance between origin and destination** (in miles).                                              |
| **weather_delay**       | Minutes of delay caused by **weather-related issues** (0 if none).                                                    |
| **late_aircraft_delay** | Minutes of delay caused by the **late arrival of the same aircraft** from a previous flight (0 if none).              |

## Numerical Columns Analysis

### Distribution & Central Tendency
- What is the distribution shape? (normal, skewed, bimodal, uniform)
- Create visualizations: histograms, box plots, density plots,…
- Calculate: mean, median, standard deviation

### Range & Outliers:
- What are the minimum and maximum values?
- Are min/max values reasonable, or do they indicate errors?
- Identify outliers using box plots, IQR method, or z-scores
- Are outliers genuine extreme values or data entry errors?

### Data Quality:
- What percentage of values are missing?
- Are there any impossible values? (e.g., negative ages, prices = 0)
- Are there placeholder values? (e.g., 999, -1, 0 used to indicate missing)

## Categorical Columns Analysis

### Value Distribution
- How many unique/distinct values are there?
- What are the top 5-10 most frequent values?
- Create visualizations: bar charts, count plots
- Is the distribution balanced or highly imbalanced?

### Data Quality
- What percentage of values are missing?
- Are there inconsistencies in categories?
    - Example: "Male", "male", "M", "m" all meaning the same thing
    - Example: Typos or variations in spelling
- Are there unexpected or abnormal values?
- Are there categories with very few observations? Should they be grouped?

## Missing Data Analysis
### Overall Assessment:
- Create a missing values summary: column name, count, and percentage missing
- Visualize missing data patterns (heatmap or bar chart)
- Are missing values random, or is there a pattern?
    - Do certain rows or groups have more missing values?

### Per Column Strategy:
- For each column with missing values:
    - Why might values be missing? (random, not applicable, data collection issue)
    - What is your plan to handle them? (remove, impute, keep as separate category)

## Relationships & Correlations
### Preliminary Patterns:
- Calculate correlation matrix for numerical variables
- Create correlation heatmap
- Identify strongly correlated pairs (positive or negative)
- Are there any surprising relationships?

### Cross-tabulations:
- For important categorical × categorical combinations, create frequency tables
- For numerical × categorical combinations, create grouped summary statistics

## Initial Observations & Insights
### Summary:
- What are 3-5 key observations from your exploration?
- What data quality issues did you identify?
- What preprocessing steps will be necessary?
- What interesting patterns emerged that could lead to research questions?

### Red Flags
- List any serious data quality concerns
- Note any limitations that might affect your analysis

# 3. Asking meaningful questions

- Your group needs to give ≥ 2*the-number-of-group-members questions which can be answered with this data.  
- Each question should be meaningful (what are benefits of finding the answer?) and not too easy to answer (e.g., it’s too easy if we just need one line of code to get the answer).  
- Your group should focus more on the quality of questions than the quantity.  
- In notebook file, with each question, your group needs to present:  
  - What is the question?  
  - What are benefits of finding the answer?

Develop meaningful, challenging research questions that will drive your analysis.

### Quantity:

* **$2 \times n$ meaningful questions** that can be answered with your data (e.g., a group of 3 students must formulate 6 questions)
* At least **1 question must require a machine learning model** to answer

### Quality Criteria:

Each question should be:

#### Meaningful:

* Has clear practical or theoretical value
* Provides actionable insights or deeper understanding
* Relates to real-world applications or decision-making

#### Challenging:

* Requires substantial analysis, not just a simple calculation
* Cannot be answered with a single line of code or basic function
* Involves multiple steps: data preparation, analysis, visualization, and interpretation
* Demonstrates analytical depth and critical thinking
Important: Focus on **quality over quantity**. It's better to have fewer well-crafted, insightful questions than many superficial ones. Each question should lead to meaningful discoveries about your data.

### Documentation for Each Question:

In your notebook, present each question with the following structure:

#### 1. The Question

* State your research question **clearly** and **specifically**
* Make it precise enough to be answerable with your data

#### 2. Motivation & Benefits

* Why is this question worth investigating?
* What benefits or insights would be answering this question provide?
* Who would care about the answer? (stakeholders, decision-makers, researchers, etc.)
* What real-world problem or decision does this inform?

# 4. Preprocessing and analyzing data to answer each question

- With each question:  
  - Does it need to have preprocessing step, and if yes, how does your group preprocess?  
    - **Text:** sketch steps [clearly](#) so that readers can understand how your group preprocesses even without reading code  
    - **Code:** implement [sketched](#) steps. Your group should also try to write code clearly (choose good variable names, comment where should be commented, don’t let a line too long)  
  - How does your group analyze data to answer the question?  
    - **Text:** similar to above  
    - **Code:** similar to above

## A. Preprocessing (if needed)

### Written Explanation:

* Describe **preprocessing steps** clearly in markdown
* Sketch the **workflow** so readers understand **without reading code**
* Explain the **logic and reasoning** behind each step
* Use numbered steps or bullet points

---

### Code Implementation:

* Implement each step with **clean, readable code**
* Use **meaningful variable names**
* Add **comments for non-obvious logic** (explain **WHY**, not just WHAT)
* Keep lines **concise (< 100 characters; break long chains across lines)**
* Show intermediate results when helpful

## B. Analysis

### Written Explanation:

* Describe your **analytical approach** in markdown
* Explain what methods you'll use and **why**
* Outline expected outputs (statistics, visualizations, models)
* Write so readers understand methodology **without reading code**

---

### Code Implementation:

* Implement analysis following **code quality standards**:
    * Meaningful variable names
    * Strategic comments
    * Concise, readable lines
    * Proper visualization labels (title, axes, legend)

---

### For ML Questions specifically:

* Explain: **problem setup, data split, models chosen, evaluation metrics**
* Code: **train $\ge 2$ models**, evaluate thoroughly, compare performance, interpret features

---

## C. Results & Interpretation

### Visualizations:

* Create **$2+$ relevant, well-labelled plots** per question
* Proper titles, axis labels, legends, units

### Written Analysis:

* Answer the question **explicitly with evidence**
* Cite specific numbers, patterns from your analysis
* Discuss **practical meaning and implications**
* Note surprises or unexpected findings
* Acknowledge **limitations**

# 5. Project summary
- **Each member:** What difficulties have you encountered?  
- **Each member:** What have you learned?  
- **Your group:** If you had more time, what would you do?

## Keys findings:
- List 3-5 most important insights from your analysis
- Highlight the most interesting or surprising discovery

## Limitations:
- Dataset limitations (sample size, biases, missing data)
- Analysis limitations (methodology constraints, unanswered aspects)
- Scope limitations (what you couldn't address)

## Future Directions (If You Had More Time)

- What additional questions would you explore?
- What deeper analysis would you conduct?
- What alternative methods or approaches would you try?
- What additional data would you seek?
- How could this work be expanded or improved?

## Individual Reflections
Each group member should write a personal reflection covering:
### Challenges & Difficulties Encountered:
- What specific obstacles did you face? (technical, analytical, conceptual)
- How did you overcome them?
- What was most challenging and why?
### Learning & Growth:
- What have you learned? (technical skills, analytical approaches, domain
knowledge)
- What surprised you most?
- How has this project shaped your understanding of data science?

# 6. References
- To finish this project, what materials have you consulted

# 7. Some general points:

- In notebook file, one important thing your group should try to practice is to **[organize sections](#)** and **[write/code clearly](#)**.  
  Your group should use Markdown headings to organize sections, and use Jupyter Notebook/Lab TOC to quickly navigate through headings (it’s similar to bookmark in pdf file).  
  During the process of writing/coding, try to maintain a calm mind, try to **[think for readers](#)**.

- In data science process your group needs to do, I think the most time-consuming part is **[from finding data to giving meaningful questions which can be answered with data](#)**.